# Dependencies
node_modules/

# Build output
dist/
.pnpm-store/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

# Local npm cache and config
.npm-cache/
.npmrc
